<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> News </mat-panel-title>
      <mat-panel-description>
        <mat-icon>play_for_work</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div id="carousel-news">
      <app-best-doc-news-item></app-best-doc-news-item>
      <app-best-doc-news-item></app-best-doc-news-item>
      <app-best-doc-news-item></app-best-doc-news-item>
      <app-best-doc-news-item></app-best-doc-news-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
