@import '../styles/partials/colors';
#identity {
  width: 200px;
  height: 25px;
  span {
    background-image: url('../assets/images/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  strong {
    background-image: url('../assets/images/logotype.png');
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 25px;
    text-indent: 100px;
    margin-left: -5px;
    overflow: hidden;
    filter: brightness(200%)
  }
}
.mat-container {
  height: 100vh;
  background-color: $best-doc-light-90;

  .mat-sidenav-content {
    .mat-toolbar {
      background-color: $best-doc-darken-50;
      .mat-toolbar-row h2{
        color: $best-doc-white;
        font-size: 1.5em;
      }
    }
  }
}

.toolbar-middle-space {
  flex: 1 1 auto;
}

.mat-sidenavLeft, .mat-sidenavRight {
  width: 320px;
  padding: 20px;
  background-color: black;
  background-color: $best-doc-base-color;
  border-radius: 0px 20px 20px 0px;
}

.mat-sidenavRight {

}

mat-side {
  background-color: $best-doc-base-color;
  color: $best-doc-white;
}
